.loader-fullpage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.loader-inline {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
